<!DOCTYPE html>

{% extends "blog/base.html" %}

{% block page_block %}

  {% include 'blog/_navi.html' %}

    <div class="post card">
      <div class="card-body">

        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Dodano nową kategorię główną!</h4>
          <p>Dodano nową kategorię główną o nazwie:</p>
          <h5>{{ category_name }}</h5>
        </div>

        <a href="{% url 'blog:all_post_list' %}">
          <button type="button" class="btn btn-success">OK</button>
        </a>

      </div>
    </div>

  {% include 'blog/_footer.html' %}

{% endblock %}
