@media (min-width: 768px) {
  .row_uslugi_wiecej_niz_768_px_all_box {
    height: 440px;
  }
}

@media (min-width: 992px) {
  .row_uslugi_wiecej_niz_768_px_all_box {
    height: 375px;
  }
}

@media (min-width: 1200px) {
  .row_uslugi_wiecej_niz_768_px_all_box {
    height: 350px;
  }
}

.errorlist {
  color: red;
  font-weight: bold;
}

.hierarchia_kategorii {
  text-align: left;
  border: 1px solid black;
}

.hierarchia_kategorii > ul {
  display: inline-block;
}
