<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'exercise_app/exercise_app_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Hello in Users web</title>
  </head>
  <body>
    <div class="container">
      <h3>Idź z powrotem na stronę <a href="/">/Główną</a></h3>
      <p>Zarejestruj się poniżej</p>
      <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
          <input class="btn btin-primary" type="submit" value="OK">
      </form>
    </div>
  </body>
</html>
