<!DOCTYPE html>

{% extends "fifth_app/base.html" %}

{% block body_block %}
  <div class="jumbotron">
    {% if registered %}
      <h3>Dziękuję za rejestrację na superanckim portalu!</h3>
    {% else %}
      <h3>Zarejestruj się tutaj!</h3>
      <h4>Wypełnij poniższy formularz:</h4>
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="" value="Rejestracja">
      </form>
    {% endif %}
  </div>
{% endblock %}
